nav {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A0BCC2;
    z-index: 100;
}

.nav-toggle {
    display: none;
}

.nav-toggle i {
    font-size: 2rem;
    color: #FEFBE7;
    margin-left: 10px;
}

.nav-logo {
    width: 194px;
    margin-left: 1rem;
}

.nav-menu {
    margin-right: 2rem;
}

.nav-list {
    display: flex;
    column-gap: 5rem;
}
  
.nav-link {
    display: block; 
    color: #4D4D4D;
}

.nav-link:hover {
    color: #FEFBE7;
    transition: 0.3s;
}

/*** mobile ***/
@media screen and (max-width: 800px) {
    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .nav-logo {
      margin: 0 auto;
    }

    .nav-list {
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      background-color: #A0BCC2;
      height: 0;
      overflow: hidden;
      transition: 0.3s;
    }

    .nav-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #FEFBE7;
      text-align: center;
    }
    
    .show-menu {
      height: 152px;
    }
}
  